<body>
    <a href="/dogs">All Dogs</a>
    <h1>Create a new Dog</h1>
    <form action="/dogs" method="post">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" />
    <br>
    <label for="isReadyToPick">Ready to Pick a dog?</label>
    <input type="checkbox" name="isReadyToPick" id="isReadyToPick" />
    <br>
    <button type="submit"> Add Dog </button>
    </form>

</body>